name: Quality Assurance on every Merge 

on:
 pull_request:
   branches: [ main ]

jobs:
 scan:
   runs-on: ubuntu-latest
   steps:
     - name: Checkout repository
       uses: actions/checkout@v3

     - name: Install dependencies
       shell: bash
       run: |
         pip install bandit-sarif-formatter bandit

     - name: Bandit
       shell: bash
       run: |
         bandit -f sarif -o results.sarif -r --exit-zero .

     - name: Upload artifact
       uses: actions/upload-artifact@main
       with:
         path: results.sarif

     - name: Upload SARIF file
       uses: github/codeql-action/upload-sarif@v2
       with:
         sarif_file: results.sarif
